@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

body {
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    color: white;
    background-color: black;
}

/* menu */
#menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(10px);
}

#menu li {
	width: 20%;
	text-align: center;
}

#menu li a {
	font-family: 'Pretendard';
	display: inline-block;
	margin: 20px 0;
	font-size: 20px;
	position: relative;
	color: rgb(102, 102, 102);
}

#menu li a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	transform-origin: left;
	transform: scaleX(0);
	transition: 0.7s;
	background-color: rgb(102, 102, 102);
}

#menu li a:hover::before,
#menu li.active a::before {
	transform: scaleX(1);
}

#section1 {
  background-image: url('../images/main_back.PNG'); /* 이미지 경로 */
  background-size: cover;       /* 화면 꽉 채우기 */
  background-position: center;  /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복하지 않음 */
  height: 100vh;                /* 화면 전체 높이 */
  display: flex;                /* 필요하면 안쪽 컨텐츠 정렬용 */
  justify-content: center;      
  align-items: center;
}

/* 모바일 대응 */
@media (max-width: 749px) {
    #menu li a {
        white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
        font-size: 16px; /* 모바일에서 글씨 크기 줄여주기 */
    }
}

@media (max-width: 749px) {
    #menu li {
        width: 25%; /* 모바일에서 메뉴 항목의 너비를 조금 더 넓혀줄 수 있음 */
    }

    #menu li a {
        white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 */
        font-size: 16px; /* 폰트 크기 조정 */
    }
}