@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

body {
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    color: #333;
    background-color: black;
}

/* menu */
#menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(10px);
}

#menu li {
	width: 20%;
	text-align: center;
}

#menu li a {
	font-family: 'Pretendard';
	display: inline-block;
	margin: 20px 0;
	font-size: 20px;
	position: relative;
	color: rgb(102, 102, 102);
}

#menu li a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	transform-origin: left;
	transform: scaleX(0);
	transition: 0.7s;
	background-color: rgb(102, 102, 102);
}

#menu li a:hover::before,
#menu li.active a::before {
	transform: scaleX(1);
}

/* section box */
.section {
	overflow: hidden;
}

/* inner box */
.inner {
    width: 1000px;
    max-width: 95%;
}

#section1 {
    background-color: black;
    
    /* 화면 전체를 flex로 잡아서 세로+가로 중앙 */
    display: flex;
    justify-content: center; /* 가로 가운데 */
    align-items: center;     /* 세로 가운데 */
    height: 100vh;           /* 화면 전체 높이 */
}


.main {
	display: flex;
	justify-content: space-between;
}

.main li {
    margin: auto;
    width: 100%;
    max-width: 900px;
	transition: 0.7s;
}

.main li:hover {
	transform: translateY(-20px);
}

.main li img {
    display: block;
    width: 100%;
    max-height: 80vh; /* 화면 높이 기준 최대 크기 */
    object-fit: contain; /* 비율 유지 */
    cursor: pointer;
    padding-bottom: 80px;
}


/* 팝업 전체 배경 - 초기 상태 투명 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0); /* 초기 투명 */
  display: none;
  perspective: 1200px; 
  transition: background-color 0.7s ease; /* 서서히 검정으로 */
}

/* show 클래스 적용 시 완전 검정 */
.popup.show {
  background-color: rgba(0,0,0,1); /* 완전 검정 */
}
/* X 버튼 */
.popup > p {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  color: #fff;
}

/* 팝업 내용 박스 초기 상태 */
.popup > div {
  width: 100%;
  max-width: 1200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(90deg) scale(0.7);
  display: flex;
  justify-content: center;  /* 가로 가운데 */
  align-items: center;      /* 세로 가운데 */
  opacity: 0;
  z-index: 1;
  transition: transform 0.7s ease, opacity 0.7s ease;
}


/* show 클래스 적용 시 3D 등장 */
.popup.show > div {
  transform: translate(-50%, -50%) rotateY(0deg) scale(1);
  opacity: 1;
}

/* 팝업 안 내용 */
.popup ul {
  margin: 0;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  background: url(../images/back_b.png) no-repeat center center;
  background-size: contain;
  aspect-ratio: 16 / 9;
  color: #222;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-button {
  position: fixed;      /* 화면에 고정 */
  bottom: 20px;         /* 화면 아래에서 20px 떨어지게 */
  right: 20px;          /* 화면 오른쪽에서 20px 떨어지게 */
  z-index: 1000;        /* 다른 요소들 위에 버튼을 배치 */
  padding: 10px 15px;   /* 버튼의 안쪽 여백 */
  font-size: 14px;      /* 글씨 크기 */
  font-weight: bold;    /* 글씨 굵게 */
  background-color: #000000; /* 버튼 색 */
  color: rgb(231, 231, 231);         /* 글씨 색 */
  border-radius: 20px;   /* 버튼 모서리 둥글게 */
  text-align: center;   /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 링크 밑줄 제거 */
  transition: background-color 0.3s; /* 배경색 부드럽게 변경 */
}

.home-button:hover {
  background-color: #1b1b1b; /* 마우스 오버 시 배경색 변화 */
}

/* 모바일 대응 */
@media (max-width: 749px) {
  .popup > div {
    width: 95%;
  }
}

/* 1300px 이하 */
@media (max-width:1300px) {
	.fp-controlArrow.fp-prev {
		border-width: 20px 18px 20px 0;
		left: calc(50% - 490px);
		top: calc(50% - -80px);
		border-color: transparent #747474 transparent transparent;
	}

	.fp-controlArrow.fp-next {
		border-width: 20px 0 20px 18px;
		right: calc(50% - 490px);
		top: calc(50% - -80px);
		border-color: transparent transparent transparent #747474;
	}
}

/* 1100px 이하 */
@media (max-width:1100px) {
	.inner {
		width: 90%;
	}

	#section1{
		height: 100vh !important;
	}

	#section2,
	#section3,
	#section4 #section5,
	.fp-tableCell {
		height: auto !important;
	}

	#section1,
	#section2,
	#section3,
	#section4,
	#section5 {
		padding: 5em 0;
	}

	.fp-tableCell {
		padding-bottom: 10px;
	}

	.fp-controlArrow.fp-prev {
		left: 7%;
		top: 62%;
		border-color: transparent #747474 transparent transparent;
	}

	.fp-controlArrow.fp-next {
		right: 7%;
		top: 62%;
		border-color: transparent transparent transparent #747474;
	}

}

/* 899px 이하 */
@media (max-width:899px) {
	#menu li {
		width: 25%;
	}

	.intro h1 {
		padding: 1em 0 1em;
	}

	.portfolio li {
		width: 48%;
	}

	.portfolio_text,
	.about_text {
		width: 100%;
	}

	.fp-controlArrow.fp-prev,
	.fp-controlArrow.fp-next {
		top: 60%;
	}

	.resume{
		gap: 20px 0;
	}

	.resume li {
		width: 49%;
	}

	.skills img {
		width: 10%;
	}
}

/* 749px 이하 */
@media (max-width:749px) {
	.art{
		flex-direction: column;
		gap: 20px;
	}

	.art li{
		width: 100%;
	}

	.art li img{
		width: 100%;
	}

	.popup div {
		display: block;
	}

	.popup img,
	.popup ul {
		width: 100%;
	}

	.popup ul li:nth-child(1) {
		padding-bottom: 10px;
	}

	#section4 .inner{
		flex-direction: column;
		gap: 30px 0;
	}

	.my{
		width: 70%;
	}

	.skills{
		padding: 2em;
		justify-content: flex-start;
		gap: 10px calc(10% / 5);
	}

	.skills img {
        width: 15%;
    }
}

/* 599px 이하 */
@media (max-width:599px) {
	#menu {
		display: none;
	}

	.resume li {
		width: 100%;
	}

	.skills{
		gap: 10px calc(10% / 4);
	}

	.skills img {
        width: 18%;
    }

}

/* 499px 이하 */
@media (max-width:499px) {
	.skills{
		gap: 10px calc(10% / 2);
	}

	.skills img {
        width: 30%;
    }
}


/* 374px 이하 */
@media (max-width: 374px) {
	.popup ul {
		padding: 20px;
	}
}